:root   {
    --primary-color: rgb(44, 19, 134);
    --secondary-color: rgb(191, 241, 214);
    --accent-color: rgb(255, 255, 255);
}  

.ms-2{
    color: var(--primary-color);
}


body{
    background-color: var(--secondary-color);
}

h1
 {
    color: var(--primary-color);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}
h2
 {
    color: var(--primary-color);
    text-align: center;
    font-size: large;   
    margin-top: 20px;
}


.custom-navbar {
  background-color: var(--secondary-color)
}

--tea-green: #d0efb1ff;
--celadon: #b3d89cff;
--light-blue: #9dc3c2ff;
--air-superiority-blue: #77a6b6ff;
--ucla-blue: #4d7298ff;