:root   {
    --primary-color: #2c1386;
    --secondary-color: #d4d9f7 ;
    --accent-color: #ffffff;
}  

/* makes the navbar the same color as the background */
.custom-navbar {
  background-color: var(--secondary-color)
}

.ms-2{
    color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
    font-weight: bold;
}
    
body{
    background-color: var(--secondary-color);
}

h1
 {
    color: var(--primary-color);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}
h2
 {
    color: var(--primary-color);
    text-align: center;
    font-size: large;   
    margin-top: 20px;
}

p {
    color: var(--primary-color);
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}

/* reduce card size */

.card-small {
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

/* sets width and height for card images */
.card-img-top {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

   /* centres card titles */
.card-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
    font-size: x-large;
}
 /* centres card text */
.card-text{
    text-align: center;
    color: var(--primary-color);
    
}
/* card buttons*/
.btn {
    background-color: var(--primary-color);
    border: none;
}

.text-center {
    color: var(--primary-color);
}
.me-2 {
    color: var(--primary-color);
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: var(--primary-color)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
    margin: 0;
}

.main-content {
    flex: 1; /* Pushes the footer down */
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
}


